@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Task Manager!</h1>
    <p>Task Manager is a project management program that allows you to centrally manage tasks and their timely completion.</p>
</div>
